{% extends "voyage/base.html" %}

{% block content %}

{{faculty.user}}
    <table>
        <tr>
          <th>Courses</th>
          <th class="text-end">Number of Students</th>
          <th class="text-end">Number of Assignments</th>
        </tr>
        {% for i in faculty.courses %}
        <tr>
          <td >{{i}}</td>
          <td class="text-end"><a href="{% url 'num_students' pk=i.id %}">{{i.students|length}}</a></td>
          <td class="text-end"><a href="{% url 'num_assignments' pk=i.id %}">{{i.assignments|length}}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
